
$light: #ADA496
$dark: #363636
$blue: #00B8F2
$lighter: rgb(235,235,235)

@import './reset'
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap')

body 
	background-color: $lighter
	// filter: contrast(10%)
	font-family: 'Eczar', serif
	overflow: hidden

main 
	display: flex
	justify-content: center
	align-items: center
	width: 100vw
	height: 100vh

.placeholder
	display: flex
	flex-flow: column nowrap
	align-items: center
	justify-content: center
	#logo
		height: 50vh
	h1
		color: $dark
		text-align: center
		font-size: 3rem
		margin: 0
		font-weight: 600
	h2 
		color: $dark
		font-weight: 400
		font-size: 1.3rem
		margin: 0
		padding: 1rem